<article class="mt-32" id="about">
        <div class="relative bg-cover bg-right bg-no-repeat min-h-screen flex items-center justify-center px-6 py-20" style="background-image: url('images/fondo-nosotras.png');">
    
                <!-- FONDO OVERLAY -->
                <div class="absolute inset-0 bg-white/40 backdrop-blur-sm"></div>
                <div class="relative z-10 max-w-4xl w-full bg-white/60 text-black rounded-xl p-6 sm:p-20 shadow-md" id="about">
                        <div class="space-y-6 text-base leading-relaxed tracking-wide text-justify">
                                <p> En <span class="font-bold italic">Lumbre Interiores</span> hacemos interiorismo a medida. Diseñamos espacios que reflejan identidad, intención y estilo — sin fórmulas, sin imposiciones.</p>
                                <p> Somos Gabriela, diseñadora de interiores, y Lucía, artista visual. Desde miradas complementarias, creamos proyectos donde el diseño se adapta a las personas y no al revés.</p>
                                <p> Nos interesa lo que ya existe, lo que tiene potencial, lo que puede resignificarse. No trabajamos desde un único estilo: nos guía la coherencia visual, el criterio funcional y una estética cuidada que responde a cada espacio.</p>
                                <p> Creemos que el interiorismo es una herramienta para habitar mejor. Nuestro trabajo es traducir lo que querés vivir en tu espacio, en forma, color y materia.</p>
                        </div>
                </div>
        </div>
</article>