<article class="mt-32" id="origen">
        <div class="relative bg-cover bg-right bg-no-repeat min-h-screen flex items-center justify-center px-6 py-20" style="background-image: url('images/fondo-nosotras.jpg');">
    
                <!-- FONDO OVERLAY -->
                <div class="absolute inset-0 bg-white/40 backdrop-blur-sm"></div>
                <div class="relative z-10 max-w-4xl w-full bg-white/60 text-black rounded-xl p-6 sm:p-20 shadow-md" id="about">
                        <div class="space-y-6 text-base leading-relaxed tracking-wide text-justify">
                                <p>
                                       En <span class="font-bold italic"> Trama Estudio </span> diseñamos espacios que cuentan historias.
                                </p>
                                <p>
                                        Somos un dúo creativo formado por Gabriela, diseñadora de interiores, y Lucía, artista visual. Combinamos sensibilidad estética, funcionalidad y una mirada poco convencional para transformar ambientes cotidianos en espacios únicos, con alma y personalidad.
                                </p>
                                <p>
                                        Creemos que el diseño no tiene por qué ser neutro. Nos inspira lo ecléctico, lo audaz, lo inesperado. Trabajamos con paletas vibrantes, texturas protagonistas y piezas que generan impacto, sin descuidar el equilibrio y la armonía.
                                </p>
                                <p>
                                        Diseñamos con vos, no solo para vos. Escuchamos tu forma de habitar y la traducimos en un lenguaje visual que te represente. Porque tu espacio también habla de quién sos.
                                </p>
                        </div>
                </div>
        </div>
</article>